.about {
    &-title{
        margin-bottom: 79px;
        padding: 0 369px 0 369px;
    }
  &-first {
    display: flex;
    text-align: left;
    &_wrapper{
        padding: 72px 100px 0 84px;
    }
    &_title{
        margin-bottom: 25px;
    }
    &_img{
        width: 710px;
    }
  }
}
