@import "../scss/vars.scss";
.about {
  &-title {
    margin-bottom: 79px;
    padding: 0 369px 0 369px;
  }
  &-first {
    display: flex;
    text-align: left;
    &_wrapper {
      padding: 72px 100px 0 84px;
    }
    &_title {
      margin-bottom: 25px;
    }
    &_img {
      background-image: url(../../assets/images/about1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 603px;
    }
    &_img-2 {
      background-image: url(../../assets/images/about2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 603px;
    }
  }
}
@include sm-block() {
  .about {
    &-title {
      padding: 32px 24px;
      margin-bottom: 0;
    }
    &-first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_wrapper {
      }
      &_text {
        margin-bottom: 158px;
      }
      &_title {
      }
      &_img {
      }
    }
  }
}
@include md-block() {
  .about {
    &-title {
      padding: 32px 24px;
      margin-bottom: 0;
    }
    &-first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_wrapper {
      }
      &_text {
        margin-bottom: 158px;
      }
      &_title {
      }
      &_img {
      }
    }
  }
}
