form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 50px auto;
}

input,
textarea {
  padding: 7px;
  margin: 15px 0;
  font-size: 16px;
}
button {
  display: block;
  margin: 10px auto;
  background-color: rgba(42, 37, 75, 1);
  color: white;
  button:hover {
    background-color: rgb(169, 168, 221);
    color: white;
  }
}
