// @import "./vars.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @import url("https://api.fontshare.com/v2/css?f[]=satoshi@700,400&f[]=clash-display@400,500&display=swap");
  font-family: "Satoshi", sans-serif;
  font-family: "Clash Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: rgba(249, 249, 249, 1);
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  router-link {
    cursor: pointer;
    animation: fadeIn 1s ease-in;
  }
  .moveInUp-enter-active {
    animation: fadeIn 1s ease-in;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .moveInUp-leave-active {
    animation: moveInUp 0.3s ease-in;
  }
  @keyframes moveInUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-400px);
    }
  }
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
button {
  display: inline-block;
  background-color: rgba(249, 249, 249, 1);
  border: 0;
  height: 56px;
  width: 170px;
  padding: 16px 32px;
  font-family: "Satoshi" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
button:hover {
  background-color: #4e4d93;
  color: white;
}
h1 {
  font-family: "Clash Display" sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-family: "Clash Display" sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}
h3 {
  font-family: "Clash Display" sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: rgba(42, 37, 75, 1);
}
h4 {
  font-family: "Clash Display" sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
@mixin sm-block() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin md-block() {
  @media screen and (max-width: 991px) {
    @content;
  }
}
