@import "./vars.scss";
.hero {
  background-image: url("../../assets/images/Hero\ Blocks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 704px;
  margin-bottom: 80px;
  &-container {
    position: relative;
  }
  &-wrapper {
    width: 630px;
    height: 444px;
    background-color: white;
    padding: 48px 60px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -40px;
    top: 150px;
  }
  &-title {
    font-size: 32px;
    color: rgba(34, 32, 46, 1);
    margin-bottom: 20px;
    width: 513px;
    text-align: left;
  }
  &-text {
    margin-bottom: 157px;
    text-align: left;
    font-family: "Satoshi" sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: rgb(110, 103, 157);
  }
  &-btn {
    transform: translateX(-100%);
  }
}

// .offers {
//   margin-bottom: 82px;
//   &-title {
//     margin-bottom: 36px;
//   }
//   &-wrapper {
//     // background-color: rgba(249, 249, 249, 1);
//     // width: 305px;
//     // height: 244px;
//     // display: flex;
//     // padding: 48px;
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     gap: 22px;
//   }
//   &-choice {
//     background-color: rgba(249, 249, 249, 1);
//     width: 305px;
//     height: 244px;
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: column;
//     padding: 48px;
//     &_icon {
//       margin-bottom: 12px;
//       width: 24px;
//       height: 24px;
//     }
//     &_title {
//       margin-bottom: 12px;
//       text-align: left;
//     }
//     &_text {
//       text-align: left;
//     }
//   }
// }

.explains {
  margin-top: 100px;
  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  &-info {
    padding: 64px 75px 0 64px;
    text-align: left;
    max-width: 634px;
    background-color: rgba(42, 37, 75, 1);
    color: white;
  }
  &-title {
    margin-bottom: 12px;
  }
  &-text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 205px;
  }
  &-btn {
    margin-bottom: 35px;
  }
}

@include sm-block() {
  .hero {
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    transform: translateY(60%);

    &-container {
    }
    &-wrapper {
      position: static;
      transform: translateY(-120%);
      align-items: center;
      background-color: transparent;
    }
    &-title {
    }
    &-text {
      margin-bottom: 32px;
    }
    &-btn {
    }
  }
  .explains {
    margin-top: 100px;
    &-container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
    &-info {
      padding: 74px 85px 0 64px;
      text-align: left;
      max-width: 768px;
      background-color: rgba(42, 37, 75, 1);
      color: white;
      display: flex;
      flex-wrap: wrap;
    }
    &-title {
      margin-bottom: 42px;
    }
    &-text {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 155px;
    }
    &-btn {
      margin-bottom: 55px;
    }
  }
  .explains-info_img {
    width: 768px;
  }
}

